*{
    padding: 0;
    margin: 0;
}
body
{

    background-color: rgb(8, 231, 30);
    display: grid;
    place-items: center;
}
.image>img{
    height: 300px;
    width: 100vw;
    object-fit: fill;
}
.d_body{
    width: 97vw;
    /* background-color: aqua; */
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;
}
.pack_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 flex-direction: column;
    /* padding: 20px; */
   width:100%;
   background-color:transparent;
   
}
.pack{
    margin:  10px 0;
   width:40vw;
   background-color: transparent;
   height: 450px; 
   display: grid;
   place-items: center;
border-radius: 50px;}
.dest_h
{
    font-style:italic ;
    font-weight: 40px;
}
.img1
{
    background-image: url("/images/Alappuzha.jpg");
    object-fit: cover;
    height: 260px;
    width: 40vw;
    background-color: rgb(0, 0, 0);
border: radius 25px;
    
}
.desc1
{
    height: 150px;
    width: fit-content;   
    background-color: transparent;

padding: 20px;
}

.img2
{
    background-image: url("/bakkal.jpg");
    object-fit: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    height: 260px;
    width: 40vw;
    background-color: rgb(0, 0, 0);
}
.desc2
{
    height: 150px;
    width: 40vw;   
    background-color:transparent;
}
/* .img3
{

    height: 300px;
    width: 40vw;
    background-color: rgb(0, 0, 0);
}
.desc3
{
    height: 150px;
    width: 40vw;   
    background-color: brown;
} */
/* .img4
{

    height: 300px;
    width: 40vw;
    background-color: rgb(0, 0, 0);
}
.desc4
{
    height: 150px;
    width: 40vw;   
    background-color: brown;
}
.img1 img
{
    width: fit-content;
    height: fit-content;
} */