body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(5, 135, 149);



}

* {
    padding: 0;
    margin: 0;
}

.container {
    width: 100vw;
    height: fit-content;
    background-color: rgb(5, 135, 149);
    align-items: center;

}

.navbar {
    width: 100vw;
    height: 80px;
    background-color: rgb(3, 186, 161);
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.name {
    margin-left: 50px;
    font-size: 30px;
}

.choice {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: transparent;

    padding: 5px;
}

.chs {
    margin-right: 30px;
    font-size: 20px;
}

.main {
    width: 100vw;
    height: fit-content;
    background-color: transparent;

}

.name1 {

    height: 55px;
    background-color: transparent;
    /* text-align: center; */
    font-size: 30px;
    font-style: italic;
}

.pic {

    height: 300px;
    width: 300px;
    display: grid;
    place-items: center;
    background-color: rgb(21, 165, 163);
    border: 7px solid rgb(250, 34, 52);
    box-shadow: 0 0 10px 3px rgb(253, 253, 253);
    border-radius: 50%;

}

.pic>img {
    height: 250px;
    width: 250px;

}

.para {
    height: 145px;
    padding: 0 30px;
    background-color: transparent;
    font-size: 20px;
}

.about,
.contact,
.portfolio {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

::-webkit-scrollbar {
    display: none;
}

.about {
    overflow-x: scroll;
}

.left {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.left,
.right {
    width: 40vw;
}

.skill {
    width: 30vw;
    height: 500px;

    /* padding-top: 50px; */
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 40px;
    font-style: italic;

}

.skills {
    width: 80%;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.names {
    color: white;
}

.range1,
.range2,
.range3,
.range4,
.range5 {
    position: relative;
    height: 10px;
    width: 300px;
    background-color: white;
    border-radius: 50px;
}

.range1:after {
    content: '';
    height: 10px;
    width: 70px;
    background-color: aqua;
    position: absolute;
    right: 0;
    border-radius: 50px;


}

.range2:after {
    content: '';
    height: 10px;
    width: 90px;
    background-color: aqua;
    position: absolute;
    right: 0;
    border-radius: 50px;

}

.range3:after {
    content: '';
    height: 10px;
    width: 101px;
    background-color: aqua;
    position: absolute;
    right: 0;
    border-radius: 50px;


}

.range4:after {
    content: '';
    height: 10px;
    width: 178px;
    background-color: aqua;
    position: absolute;
    right: 0;
    border-radius: 50px;

}

.range5:after {
    content: '';
    height: 10px;
    width: 140px;
    background-color: aqua;
    position: absolute;
    right: 0;
    border-radius: 50px;

}

.portfolio {
    width: 100vw;
    background-color: rgb(5, 135, 149);
}

.box {
    /* width: 90vw;
    height: 500px; */
    background-color: rgb(21, 165, 163);
    display: flex;
    flex-direction: row;
}

.box1 {
    width: 50vw;
    /* height: 500px; */
    background-color: cadetblue;
    display: grid;
    place-items: center;
}

.box2 {
    width: 50vw;
    height: 500px;
    /* background-color: rgb(12, 237, 244); */
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
}

.photo {
    height: 330px;
    width: 330px;
    display: grid;
    place-items: center;
    background-color: rgb(21, 165, 163);
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50%;
}

.ui {
    width: 90%;
    height: 60px;
    /* background-color: blue; */
    margin-left: 30px;
    font-size: 30px;
    font-weight: normal;
}

.base {
    width: 90%;
    height: 60px;
    /* background-color: rgb(0, 255, 98); */
    margin-left: 30px;
    font-size: 20px;
    font-weight: normal;
}

.source {
    width: 50%;
    height: 60px;
    background-color: rgb(5, 135, 149);
    margin-left: 170px;
    border-radius: 50px;
    border: outset;
}

.boox {
    width: 90vw;
    height: 500px;
    background-color: rgb(21, 165, 163);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.me {
    width: 90%;
    height: 60px;
    /* background-color: rgb(222, 12, 128); */
    margin-left: 75px;
    text-align: center;
    font-size: 35px;
    font-weight: bolder;

}

.touch {
    width: 90%;
    /* height: 60px; */
    /* background-color: rgb(85, 17, 194); */
    margin-left: 75px;
    text-align: center;
    font-size: 25px;
    font-weight: 10px;
}

.find {
    width: 90%;
    height: 60px;
    /* background-color: rgb(12, 222, 58); */
    margin-left: 75px;
    text-align: center;
    font-size: 25px;
}

.social {
    width: 90%;
    height: 60px;
    /* background-color: rgb(222, 82, 12); */
    margin-left: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.link {
    width: 20%;
    height: 80%;
    background-color: rgb(5, 135, 149);
    margin-top: 5px;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    border-radius: 50px;
}

.git {
    width: 20%;
    height: 80%;
    background-color: rgb(5, 135, 149);
    margin-top: 5px;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    border-radius: 50px;


}

.twi {
    width: 20%;
    height: 80%;
    background-color: rgb(5, 135, 149);
    margin-top: 5px;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    border-radius: 50px;


}

.insta {
    width: 20%;
    height: 80%;
    background-color: rgb(5, 135, 149);
    margin-top: 5px;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    border-radius: 50px;


}

@media only screen and (max-width:600px) {
body{
margin: 0;
padding: 0;
}
    .navbar {width: 100vw;
padding: 0;
        background-color: antiquewhite;
    }
.container{
    width: 90vw;
    padding: 0;
}
    .about,.portfolio,.contact ,.box{
        padding-top: 9rem;
        margin: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        overflow: hidden;
    }

    .pic {

        height: 100px;
        width: 100px;
    }

    .pic>img {
        height: 80px;
        width: 80px;

    }

    .para {
padding: 0;
        font-size: 15px;
        width: 60vw;
    }

    .left,
    .right {
        margin: 5px 0;
        padding: 0;
        width: 90vw;
        display: block;
    }
    .box1{
        width: 100vw;
        height: 280px;
    }
    .box2{
        width: 100vw;
        height:320px;
        position: relative;
        justify-content: space-between;
        /* background-color: darkgreen; */
    }


    .photo{
        width: 100px;
        height: 100px;
    }
    .photo>img{
        width: 100px;
        height: 100px;
    }
    .main{
        padding: 0;
        margin: 0;
    }
    .contact{
        padding: 0;
    }
    .box{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
       padding: 0;

    }
    .portfolio
    {
        height: 110vw;
        align-items: center;
        width: 90vw;
    }
    .contact{
        padding: 0;
        /* margin-right: 20px; */
    }
    .me,.touch,.find,.social
    {
        width: 200px;
    }
    .choice {
        
        margin-top: 0;
        padding: 0;
    }
    .chs
    {
        margin: 0;
        padding: 0;
    }
    .ui {
        width: 90%;
        height: 60px;
        /* background-color: blue; */
        margin-left: 30px;
        font-size: 30px;
        font-weight: normal;
    }
    
    .base {
        width: 90%;
        height: 60px;
        /* background-color: rgb(0, 255, 98); */
        margin-left: 30px;
        font-size: 20px;
        font-weight: normal;
    }
    .me {
       
        /* background-color: rgb(222, 12, 128); */
        /* margin-left: 75px; */
        text-align: center;
        font-size: 25px;
        font-weight: bolder;
    
    }
    
    .touch {
        
        /* background-color: rgb(85, 17, 194); */
        margin-left: 70px;
        text-align: center;
        font-size: 12px;
        font-weight: 18px;
        align-items: center;
    }
    .find {
        
        /* background-color: rgb(12, 222, 58); */
        margin-left: 70px;
        text-align: center;
        font-size: 20px;
    }
    
    .social {
        
        /* background-color: rgb(222, 82, 12); */
       
width: 60vw;
        justify-content: space-evenly;
    }
    .contact{
        width: 90vw;
        height: 75vh;
        justify-content: space-around;
        /* margin-left: 15px; */
    }
    
.insta,.git,.link,.twi {
    width: 250px;
    padding: 5px;
    height: 40px;
    /* background-color: rgb(51, 149, 5); */
    margin: 0 5px;
    font-size: 10px;
    display: grid;
    place-items: center;
    font-weight: bolder;
    border-radius: 50px;
}
.source {
    
    margin-left: 120px;
    
}
.name {
    margin-left: 0;
    font-size: 20px;
}
    
    
}